.block
{
        -moz-border-radius:15px;
        -moz-box-shadow:0 0 5px #666677;
        border-radius:15px;
        border:1px solid #616161;
	width:200px;
        height:200px;
	float:left;
	
}

.inner
{
	margin:5px;
}

.outer
{
	width:100%;
	height:250px;
}

.buffer
{
	margin:5px;
}

